*{
    Margin: 0;
    Padding: 0;
    box-sizing: border-box;
}

a,a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1 {
    font-size: 300%;
    font-family: 'verdana', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(13, 29, 73);
    text-align: center;
}

h2 {
    font-size: 200%;
    font-family: 'Courier', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(0, 37, 116);
    text-align: left;
}

h3 {
    font-size: 250%;
    font-family: 'Courier', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(0, 37, 116);
    text-align: left;
}

h4 {
    font-size: 250%;
    font-family: 'Courier', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: rgb(0, 37, 116);
    text-align: center;
}

p{
    font-size: 200%;
    font-family: 'Courier', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #fff;
}

address {
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: smaller;
    font-display: italics;
}

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    border:10px solid rgba(30, 83, 255, 0.173); 
    padding-inline-start:5%; 
    padding-inline-end:5%;
}

.header .navbar{
    width:100%;
    height:80px;
    display: flex;
    align-items: center;
    padding-top: 20px;

}

.header .navbar .logo a{
color: #fff;
font-size: 30px;
margin-left: 50px;
}

.header .navbar .menu ul{
    margin-left: 192px;
}

.header .navbar .menu ul li{
display: inline-block;
margin-right: 35px;
align-items: center;
}

.header .navbar .menu ul li a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}
